<%- include("./partials/navbar")%>

<form class="container my-3" method="post" action="/resetnewpassword">
    <div class="mb-3">
        <label for="Password" class="form-label">Enter your New Password</label>
        <input type="text" class="form-control" id="Password" name="password"> 
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <%- include("./partials/footer")%>